{% extends "mainblueprint.html" %}
{% block title %}Change Password{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block list %}
<li>
  <a href="/profile" style="padding-top: 15px; padding-bottom: 15px;">
<div class="chip space">
  <img src="/static/profile_icon.png" alt="Person" width="96" height="96">
  {{ username }}
</div>
  </a>
</li>
<li><a href="/index"><i class="fa fa-video-camera" aria-hidden="true"></i> Home</a></li>
<li><a href="/recordings"><i class="fa fa-file-video-o" aria-hidden="true"></i> Recordings</a></li>
<li><a href="/reports"><i class="fa fa-line-chart" aria-hidden="true"></i> Reports</a></li>
<li><a href="/logout" style="color: #0088af; font-weight: bold"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
{% endblock %}

{% block content %}
<br>

<center>
  <div class="card">
  <div class="cardcontainer">
    <form action="" method="post">
        <h3>Change password</h3>
        <div class="form-group">
        <input type="password" class="form-control" name="oldpassword" placeholder=" Current password" value="{{
          request.form.oldpassword }}">
      </div>
        <div class="form-group">
        <input type="password" class="form-control" name="newpassword" placeholder="New password" value="{{
          request.form.newpassword }}">
      </div>
      <button class="btn btn-info" type="submit" value="changepass">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Submit </button>
          <br>
          {% if error %}
          <div class="alert alert-danger">
            <strong class="error"><strong>Error:</strong> {{ error }}</strong> </div>
            {% endif %}
          {% for message in get_flashed_messages() %}
            <div class="alert alert-info"> <strong class="error">{{ message }}</strong> </div>
          {% endfor %}
  </form>


  </div>
</div>
</center>
<br>

{% endblock %}

